.footer {
background-color: #404149;
padding: 30px 0;
    // .footer__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        color: $white-color;
        line-height: 21.79px;
        font-family: $font-text;
        font-weight: 400;
    }

    // .footer__copy

    &__copy {
    }

    // .footer__development

    &__development {
        
    }
}

